@model BeestjeOpJeFeestje.Domain.Booking

<h2>Step4</h2>
<div>
    <img src="~/Images/stap4.png" alt="stap4.png" width="500" class="center-block" style="padding-bottom: 2%" />
</div>

<div class="form-inline">
    <div class="form-group">
        <h3>Contactgegevens</h3>

        <p>@Model.ContactPerson.Fullname</p>
        <p>@Model.ContactPerson.Adress</p>
        <p>@Model.ContactPerson.Email</p>
        <p>@Model.ContactPerson.PhoneNumber</p>

        <h3>Prijs / Korting</h3>

        <ul>
            @foreach (var beast in Model.Beast)
            {
                <li>@beast.Name: €@beast.Price</li>
            }
            @foreach (var acc in Model.Accessory)
            {
                <li>@acc.Name: €@acc.Price</li>
            }
            @foreach (var discount in Model.Discounts)
            {
                <li>@discount.DiscountName @discount.PercentageDiscount%</li>
            }
        
        </ul>

        <h4>Totale prijs: €@Model.Price</h4>

        @using (Html.BeginForm("Step4", "Booking", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Bevestig boeking" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
    <div class="form-group col-lg-offset-6" style="display:inline-block ">
        @Html.Action("InfoBar")
    </div>
</div>